input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
}

input:focus {
  border-color: var(--primary-color);
  outline: none;
}
